body{
    background-color: white;
    padding: 0;
    margin: 0;
    font-family:Arial;
}
nav{
    position: relative;
    background-color: white;
    overflow: hidden;
    opacity: 0.60;
    color: darkslategrey;
}
header{
    background-image: url("images/wallpaperflare.com_wallpaper (5).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header article {
    padding: 5%;
    font-family: Consolas;
    color: white;
}
p.title{
    text-align: center;
    font-size: 4em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
p.subtitle{
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}
.light{
    background-color: white;
    margin: 0;
    padding:2%;
    padding-right: 5%;
    padding-left: 5%;
    color: darkslategrey;
    text-align: justify;
}
h5.col-4{
    text-align: right;
}
.dark{
    background-color: lightslategrey;
    margin: 0;
    padding:2%;
    padding-right: 5%;
    padding-left: 5%;
    color: black;
    text-align: justify;
}
footer p{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
}
[class*="col-"] {
    float: left;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    p.title{
        text-align: center;
        font-size: 3em;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    p.subtitle{
        font-size: 1.5em;
        margin: 0;
        text-align: center;
    }
    .light{
        margin: 0;
        padding:5%
    }
    .dark{
        margin: 0;
        padding:5%;
    }
    h5.col-4{
         text-align: left;
     }
}